@charset 'utf-8';
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  border: 0;
  margin: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
}

em {
  font-style: italic;
}

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: ' ';
}

.cf:after {
  clear: both;
}

/*********************** Styling start **********************/

img {
  max-width: 100%;
}
header {
  padding: 23px 0;
}

.header-wrapper {
  width: 95%;
  max-width: 1130px;
  margin: 0 auto;
}

header h1 {
  display: inline-block;
}

nav {
  width: 40%;
  height: 37px;
  margin-top: 11px;
  float: right;
}

.hamburger-menu {
  width: 100%;
}

nav ul {
  width: 100%;
  height: 37px;
  list-style: none;
}

nav ul li {
  width: 24%;
  height: 37px;
  border-radius: 5px;
  display: inline-block;
  background: #d00000;
}

nav img {
  display: none;
}

nav ul li a {
  text-decoration: none;
}

li p {
  padding-top: 9px;
  text-align: center;
  width: 79%;
  margin: 0 auto;
}

li a {
  color: white;
}

nav ul li:hover p{
  transition: transform 3000ms ease-in 0;
  transform: scale(1.2,1.2);
}

nav ul li:hover {
  background: white;
  box-shadow: 0 0 3px #d00000;
}

nav ul li:hover a { color: #d00000; }

.main-wrapper {
  width: 95%;
  max-width: 1130px;
  margin: 0 auto;
}

.promosion-div {
  padding: 23px 0;
  background: #d00000;
}

.question-heading p {
  width: 100%;
  padding-bottom: 35px;
  color: white;
  font-family: Arial;
  font-size: 47px;
  font-weight: 700;
  line-height: 64.446px;
  text-align: left;
}

.take-test-left {
  width: 67%;
  height: 129px;
  border-radius: 5px;
  margin-right: 3%;
  display: inline-block;
  background: white;
}

.take-test-left p {
  padding: 19px 27px;
  color: #000;
  font-family: Arial;
  font-size: 18px;
  font-weight: 900;
  line-height: 26px;
  text-align: left;
}

.take-test-right {
  width: 29%;
  height: 119px;
  border-radius: 5px;
  background: white;
  float: right;
  text-align: center;
}

.take-test-right {
  padding-top: 10px;
}

main {
  background: #f6f3e9;
}

.video-div {
  width: 70%;
  padding: 23px;
  margin: 0 auto;
}

.iframe-container {
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
}

iframe {
  width: 100%;
  height: 0;
  height: 100%;
  position: absolute;
  top: 0;
}

.termite-details {
  width: 100%;
  padding: 31px 0;
}

.termite-details p {
  color: #000;
  font-family: Arial;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  letter-spacing: -.4px;
}

.termite-details p:nth-child(1) {
  color: #c10a25;
  font-family: Arial;
  font-size: 22px;
  font-weight: 700;
  line-height: 23px;
  text-align: left;
}

.termite-details p:nth-child(1),
.termite-details p:nth-child(2),
.termite-details p:nth-child(3) {
  padding-bottom: 21px;
}

.link-for-test {
  width: 100%;
  height: 65px;
  border-radius: 5px;
  margin-bottom: 20px;
  background: #cb0013;
}

.link-for-test-external {
  width: 100%;
  height: 65px;
  padding-bottom: 21px;
}

.link-for-test p {
  width: 37%;
  height: 65px;
  padding-top: 17px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.link-for-test p span:nth-child(1) {
  color: white;
  font-family: Arial;
  font-size: 26px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  letter-spacing: .52px;
}

.link-for-test p span:nth-child(2) {
  position: absolute;
  right: 5%;
  bottom: 45%;
}

footer {
  height: 99px;
  background: #cb0013;
}

.footer-wrapper {
  width: 95%;
  max-width: 1130px;
  margin: 0 auto;
}

footer ul {
  width: 50%;
}

footer li {
  width: 23%;
  display: inline-block;
}

footer li p {
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
}

footer li + li:after {
  content: '|';
}

footer li a {
  text-decoration: none;
}

footer li + li {
  width: 27%;
}

footer p:nth-child(1) {
  color: white;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
  float: left;
  text-align: center;
  text-transform: uppercase;
}

footer p span:nth-child(1),
footer p span:nth-child(3) {
  padding: 0 23px;
}

footer p:nth-child(1) {
  padding: 23px 0 9px 0;
}

footer p:nth-child(2) {
  width: 24%;
  padding-left: 1.8%;
  color: rgba(255, 255, 255, .5);
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
}

@media screen and (max-width: 930px) {

  img { 
    max-width: 65%;
    padding-top: 15px;
  }

   .take-test-right { 
    background: url(../images/Right-shape.png) no-repeat;
    background-size: 100% 100%; 
  }

  .take-test-left {
    background: url(../images/Left-shape.png) no-repeat;
    background-size: 100% 100%;
  }

  .take-test-right img {
    padding-top: 0;
  }

  .take-test-right p {
    padding-top: 10px;
  }
}

@media screen and (max-width: 800px) {
  
  nav { 
    width: 8%;
    margin-top: 0;
    position: relative; 
  }

  nav img {
    display: block;
    float: right;
  }

  nav ul {
    width: 206%;
    display: none;
    position: absolute;
    top: 29px;
    right: 0px;
  }

  nav ul li {
    width: 100%;
    border: 1px solid white;
    /*margin-bottom: 5px;*/
    background: #d00000;
  }

  nav ul li a {
    color: white;
  }

  nav .hamburger-menu:hover ul {
    display: block;
  }

  nav ul li:hover {
    transition: transform 300ms ease-in 0;
    transform: scale(1.1,1.1);
  }
}

/*@media screen and (max-width: 545px) {

  .take-test-left { background: url(../images/Left-shape.png) no-repeat; }

}*/

@media screen and (max-width: 575px) {

  .take-test-left p {
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 6%;
    padding-left: 6%; 
    font-size: 14px;
    line-height: 24px;  
  }

  .question-heading p {
    font-size: 30px;
    line-height: 40.446px;
  }

  .take-test-right img {
    padding-top: 10px;
  }

}
